bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/vs
.vs/
/.vs/
/APIServicesProvider/APIServicesProvider.csproj.user
/MobileUI/MobileUI.csproj.user
/APIServicesProvider/Properties/PublishProfiles
